/* roboto-condensed-regular - latin_cyrillic */

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff2") format('woff2'), url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff") format('woff');
}

/* roboto-condensed-700 - latin_cyrillic */

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff2") format('woff2'), url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff") format('woff');
}

/* pt-mono-regular - latin_cyrillic */

@font-face {
    font-family: "PT Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-mono-v7-latin_cyrillic-regular.woff2") format('woff2'), url("../fonts/pt-mono-v7-latin_cyrillic-regular.woff") format('woff');
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Mono", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #666666;
    min-width: 1920px;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 375px;
}

.header-index {
    padding-top: 33px;
    background-color: #1B2D37;
    background-image: url("../img/header.png");
}

.navigation {
    display: flex;
    padding-right: 256px;
    padding-left: 253px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.navigation-list li:nth-child(1) {
    width: 753px;
}

.navigation-list li:nth-child(2) {
    width: 225px;
}

.navigation-list li:nth-child(3) {
    width: 245px;
}

.telephone {
    position: relative;
    padding-left: 35px;
}

.email {
    position: relative;
    padding-left: 35px;
}

.telephone::before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background: url("../img/svg/phone-call.svg") no-repeat center;
}

.email::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 19px;
    height: 14px;
    background: url("../img/svg/envelope.svg") no-repeat center;
}

.header-index a {
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.basic-info {
    color: #ffffff;
    background-image: url("../img/boards.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-left: 249px;
    margin-right: 177px;
    padding-bottom: 93px;
}

.basic-info h1 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-transform: uppercase;
    width: 710px;
    margin: 0;
    padding-top: 230px;
}

.basic-info p {
    width: 710px;
    margin-bottom: 40px;
}

.call-button {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    padding: 12px 26px;
    border-radius: 5px;
}

.scroll {
    margin: 93px 0 90px 0;
    transform: rotate(180deg);
    writing-mode: tb-rl;
}

.logo {
    position: relative;
}

.logo::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 320px;
    width: 37px;
    height: 13px;
    background: url("../img/svg/two-rect.svg") no-repeat center;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.information {
    background-color: #ffffff;
    background-image: url("../img/polygons-content.png");
    padding-top: 80px;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 110px;
    width: 1260px;
    margin: 0 auto;
}

.advantages-block {
    width: 570px;
    min-height: 300px;
    box-sizing: border-box;
    padding: 40px 45px 50px 43px;
    margin: 30px 30px;
    background-color: #ffffff;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-left: 3px solid #00B2FF;
}

.advantages-block svg {
    fill: #00B2FF;
}

.advantages-block p {
    width: 483px;
}

.advantages-block h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #00B2FF;
}

.advantages-block:hover {
    background-color: #00B2FF;
    color: #ffffff;
    cursor: pointer;
}

.advantages-block:hover svg {
    fill: #ffffff;
}

.advantages-block:hover h3 {
    color: #ffffff;
}

.text-company {
    padding-bottom: 40px;
    line-height: 22px;
}

.about-company {
    padding-bottom: 96px;
    margin-left: 345px;
    margin-right: 380px;
    display: flex;
}

.about-company h2 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 36px;
    line-height: 51px;
    color: #666666;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 35px;
}

.free {
    padding: 17px 45px;
    font-size: 16px;
    text-transform: uppercase;
    background: #00B2FF;
    border-radius: 5px;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

.more-info {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #00B2FF;
    padding: 15px 48px;
    border: 1px solid #00B2FF;
    border-radius: 5px;
}

.product {
    background-color: #1B2D37;
}

.product h2 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    margin: 0;
    padding-bottom: 65px;
}

.text-company-last {
    margin-bottom: 43px;
}

.services {
    padding: 93px 375px 127px 375px;
}

.product-list {
    list-style: none;
    display: flex;
    width: 1200px;
    min-height: 620px;
    margin: 0;
    padding: 0;
}

.product-list li {
    min-width: 370px;
}

.product-list li:nth-child(2) {
    margin: 0 30px;
}

.product-list h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #ffffff;
    width: 155px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    position: relative;
    top: 53px;
    left: 45px;
}

.product-list a {
    min-width: 370px;
    min-height: 620px;
}

.boards-production {
    background: url("../img/w1.png") no-repeat center;
    position: absolute;
}

.boards-installation {
    background: url("../img/w2.png") no-repeat center;
    position: absolute;
}

.lighting-equipment {
    background: url("../img/w3.png") no-repeat center;
    position: absolute;
}

.questions {
    background: url("../img/form-phone.png") no-repeat right #00B2FF;
    color: #ffffff;
    min-height: 670px;
    position: relative;
}

.questions h2 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    color: #ffffff;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    margin: 0;
}

.questions p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.questions-ask {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
    position: absolute;
    right: 0%;
    margin-right: 375px;
    top: 96px;
}

.questions-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.questions-form input {
    background-color: #19baff;
    border: none;
    color: #FFFFFF;
    box-sizing: border-box;
}

.data-field {
    width: 270px;
    height: 50px;
    padding: 16px 18px;
}

.questions-form textarea {
    background-color: #19baff;
    border: none;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 13px 16px;
    width: 570px;
    height: 154px;
    margin-top: 40px;
    margin-bottom: 43px;
}

.send-question {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background: none;
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 80px;
}

.personal-data {
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    width: 230px;
    margin-top: 7px;
}

.questions-form input[type=checkbox]+label::before {
    background-image: url("../img/svg/checkbox-off.svg");
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 16px;
    height: 16px;
}

.questions-form input[type=checkbox]:checked+label::before {
    background-image: url("../img/svg/checkbox-on.svg");
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 16px;
    height: 16px;
}

.footer {
    /* display: flex;
    flex-wrap: wrap; */
    background: #FAFAFA;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer a {
    font-size: 15px;
    line-height: 25px;
    color: rgba(27, 45, 55, 0.5);
}

.footer li {
    color: rgba(27, 45, 55, 0.5);
}

.footer-logo {
    padding: 65px 210px 50px 0;
}

.information-footer {
    margin: 0 253px 0 255px;
    display: flex;
}

.social-block {
    margin-bottom: 65px;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    width: 112px;
}

.copyright {
    border-top: 1px solid rgba(98, 105, 98, 0.2);
    text-transform: uppercase;
    font-size: 13px;
    line-height: 24px;
    padding: 0 253px 0 255px;
}

.copyright ul {
    display: flex;
}

.copyright li {
    padding-top: 22px;
    padding-bottom: 22px;
}

.copyright li:nth-child(1) {
    margin-right: 75px;
}

.copyright li:nth-child(2) {
    margin-right: 142px;
}

.copyright li:nth-child(3) {
    margin-right: 405px;
}

.footer h4 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    color: #1B2D37;
    margin-top: 65px;
    margin-bottom: 30px;
}

.site-map {
    font-size: 15px;
    line-height: 25px;
}

.site-map ul {
    height: 100px;
    min-width: 210px;
}

.contacts {
    padding-left: 140px;
}

.contacts p {
    color: rgba(27, 45, 55, 0.5);
    margin: 0;
}